
.difficulty-level-1-icon {
  background: url("~@/assets/icons/signal-cellular-1.svg") center no-repeat;
  background-size: contain;
}

.difficulty-level-2-icon {
  background: url("~@/assets/icons/signal-cellular-2.svg") center no-repeat;
  background-size: contain;
}

.difficulty-level-3-icon {
  background: url("~@/assets/icons/signal-cellular-3.svg") center no-repeat;
  background-size: contain;
}

.timer-outline-icon {
  background: url("~@/assets/icons/timer-outline.svg") center no-repeat;
  background-size: contain;
}

.cookbook-icon {
    background: url("~@/assets/icons/cookbooklogo.svg") center no-repeat;
    background-size: contain;
}

.close-icon {
    background: url("~@/assets/icons/close.svg") center no-repeat;
    background-size: contain;
}

.arrow-up-icon {
    mask: url("~@/assets/icons/arrow-up.svg") center no-repeat;
    mask-size: contain;
}

.filter-icon {
    mask: url("~@/assets/icons/filter.svg") center no-repeat;
    mask-size: contain;
}

.logout-icon {
    mask: url("~@/assets/icons/logout.svg") center no-repeat;
    mask-size: contain;
}

.menu-icon {
    mask: url("~@/assets/icons/menu.svg") center no-repeat;
    mask-size: contain;
}